<div class="flex min-h-screen items-center justify-start bg-white">
  <div class="mx-auto w-full max-w-lg border-2 border-gray-300 shadow-md p-8  rounded-lg">
    <div class="container py-4">
      <form class="p-3" [formGroup]="loginForm" (submit)="submit()">
        <h2 class="mb-3 fw-normal">Login</h2>
        <div class="form-group mb-3">
          <label for="email1">Email address</label>
          <input type="email" class="p-2 form-control" id="email1" placeholder="Email address" formControlName="email">
          <span *ngIf="visited(email) && email.errors?.['required']" class="error">Required</span>
          <span *ngIf="visited(email) && email.errors?.['email']" class="error">Please enter an email</span>
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input type="password" class="p-2 form-control" id="password" placeholder="Password" formControlName="password">
          <span *ngIf="visited(password) && password.errors?.['required']" class="error">Required</span>
        </div>
        <div class="form-group mb-3">
          <input type="checkbox" class="me-2" formControlName="rememberMe">
          <span>Remember password</span>
        </div>
        <div class="mb-3 form-group">
          <button class="btn btn-primary w-100 p-2">Login</button>
        </div>
        <p class="mb-3 text-muted">Forgot password?</p>
        <p class="m-0">Don't have an account? <a routerLink="/register">Register here</a> </p>
      </form>
    </div>
  </div>
</div>
